.payment-button {
  height: 50px;
  width: 100px;
  background-color: rgb(217, 119, 50);
  color: white;
  border: none;
  border-radius: 5px;
}
.payment-button:hover {
  border: 2px solid;
  background-color: rgb(214, 107, 31);
}
